@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.3;
  font-size: 14px;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  color: white;
  background-color: #0c122c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg {
  width: 100vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bg-mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .bg-mobile {
    display: block;
    height: 100vh;
  }
}

@media only screen and (max-width: 800px) {
  .bg-desktop {
    display: none;
  }
}

.main {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

@media only screen and (max-width: 800px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 90%;
  }
}

.main > * {
  background-color: #1d2c67;
}

.main__left {
  border-radius: 18px;
  border-top-right-radius: 100px;
  padding: 3rem;
}

.main__cover {
  width: 80%;
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.main__logo {
  grid-column: 1/-1;
}

.main__icon {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #0c122c;
}

.main__right {
  height: 80%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 2rem;
  border-radius: 18px;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .main__right {
    height: 150px;
  }
}

.main__memory {
  position: absolute;
  top: -40px;
  right: 2rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 18px;
  border-bottom-right-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #848794;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  .main__memory {
    border-radius: 15px;
    top: 0;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 152%);
            transform: translate(-50%, 152%);
    height: 70px;
    width: 55%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
  }
}

.main__memory span {
  color: black;
  font-size: 3rem;
  margin-right: 10px;
}

.main__memory::before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: "";
  display: block;
  border-top: 30px white solid;
  border-left: 30px solid transparent;
  border-right: 30px white transparent;
  position: absolute;
  right: 0;
  bottom: -25px;
}

@media only screen and (max-width: 800px) {
  .main__memory::before {
    display: none;
  }
}

.main__bar {
  border-radius: 20px;
  height: 18px;
  background-color: #0c122c;
  padding: 2px 4px;
  position: relative;
  margin-bottom: 0.4rem;
}

.main__bar::before {
  content: "";
  width: 80%;
  height: 100%;
  display: block;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
}

.main__bar::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: calc(78% + 4px);
  -webkit-transform: translateX(-77%);
          transform: translateX(-77%);
}

.main__measure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__info {
  color: #dddbff;
  margin-bottom: 1rem;
}

.main__info span {
  color: white;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */